* {
    margin: 0;
    padding: 0;


}

html, body {
    width: 100%;
    height: 200%;
    margin: 0;
    padding: 0;
    background-color: #eff4fd;
    scroll-behavior: smooth;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
}

nav {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;

}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-family: "Monaco";

}

nav ul li a:hover {
    color: red;
}

.detail {
    margin-left: 8%;
    margin-top: 13%;
}

.detail h1 {
    font-family: "Monaco";
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

.detail span {
    color: royalblue;
    font-family: "Monaco";

}

.detail p {
    color: #555;
    line-height: 22px;
    font-family: "papyrus";
    font-size: 25px;

}

.detail a {
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;


}

.images {
    width: 45%;
    height: 75%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape {
    bottom: 50px;
}

.images:hover .jaer {
    left: 45%;
}

.about {
    margin-left: 8%;
    margin-top: 25%;
    margin-right: 8%;



}

.about h2 {
    margin-top: 1%;
    margin-bottom: 0mm;
    font-family: "Lucida Handwriting";
    font-size: 35px;
    color: black;
}
.about ul{
    margin-top: 0;
}

.about ul li {
    list-style: none;
    color: #555;
    line-height: 30px;
    font-family: "Helvetica";
    font-size: 20px;

    margin-left: 6%;
    margin-bottom: 3%;

}


.education {
    margin-top: 25em;
    margin-left: 8%;
    margin-right: 8%;
}

#edu h2 {
    margin-top: 2%;
    font-family: "Lucida Handwriting";
    font-size: 35px;
    color: black;
}

.education h3 {
    margin-top: 2%;
    font-size: 25px;
    font-family: "Helvetica";
    margin-bottom: 10px;
    color: grey;
    margin-left:2%;
}

.education #line {
    margin-bottom: 7mm;
}

.education h4 #title {
    font-size: medium;
    font-family: "Helvetica";
    margin-left:2%;
    color: grey;
}
.education h4 span{
    font-size: medium;
    font-family: "Helvetica";
    color: red;
}

.education h4 #gpa {
    font-size: inherit;
    font-style: italic;
    font-family: "Helvetica";
    color: grey;
    
    margin-left:2%;
    margin-top: 1mm;
}

.education h4 #gpa span{
    color: red;
}

.education h3 span {
    font-family: "Helvetica";
    font-size: inherit;
    color: red;
}

.education #classes #Course{
    font-family: "Helvetica";
    font-size: x-large;
    color:black;
    margin-top: 3%;
    margin-bottom: 1%;
}
.education #classes ul{
    margin-left:2%;
    padding: 0; 
    display: flex;
    flex-wrap: wrap;    
    width:200%;
    margin-bottom: 3%;

    
}

.education #classes ul li{
    font-size: large;
    font-family: "Papyrus";
    font-weight: bolder;
    list-style-position: inside;
    box-sizing: border-box;
    padding: 10px;
    width: 20%;
    color:grey;
    
    

    
    
    
}